@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700,900|Sniglet:400,800');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

.App {
  color: white;
  min-height: 100vh;
  text-align: center;
  background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
  background: radial-gradient(circle at bottom left, #222, #444);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(to right, #2ECC40, rgb(10, 173, 29));
  margin-bottom: 1rem;
  padding: 1rem 0;
}

a {
  color: white;
  transition: color 150ms ease-in;
  margin-bottom: 0.5rem;
  font-weight: 900;
}

a:hover {
  color: white;
}

.title {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Sniglet', cursive;
  padding: 0;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

.title span {
  font-family: 'Sniglet', cursive;
  font-family: 'Nunito', sans-serif;
  font-size: 3.75rem;
  letter-spacing: -2px;
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

form h2 {
  margin-bottom: 1rem;
}

input, button[type="button"] {
  background: rgba(0, 0, 0, 0.825);
  color: white;
  border-radius: 3px;
  margin: 0 auto 1rem;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  width: 100%;
  max-width: 300px;
  font-weight: bolder;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #333;
} 

input[type="password"] {
  color: red;
}

button[type="button"] {
  cursor: pointer;
  color: #eee;
  background: #2ECC40;
  transition: background 120ms ease-out;
}

input[type="submit"]:hover {
  background: rgb(33, 170, 49);;
}

footer {
  background: darkcyan;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  font-weight: 400;
}