@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,700,900|Sniglet:400,800');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

.App {
  color: white;
  min-height: 100vh;
  text-align: center;
  background: radial-gradient(circle at bottom left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
  background: radial-gradient(circle at bottom left, #222, #444);
  position: relative;
  display: grid;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(to right, #2ECC40, rgb(10, 173, 29));
  margin-bottom: 1rem;
  padding: 1rem 0;
}

a {
  color: white;
  transition: color 150ms ease-in;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

a:hover {
  color: white;
}

.title {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Sniglet', cursive;
  padding: 0;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

.title span {
  font-family: 'Sniglet', cursive;
  font-family: 'Nunito', sans-serif;
  font-size: 3.75rem;
  letter-spacing: -2px;
  font-weight: 100;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

form h2 {
  margin-bottom: 1rem;
}

input, button[type="button"] {
  background: rgba(0, 0, 0, 0.825);
  color: white;
  border-radius: 3px;
  margin: 0 auto 1rem;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  width: 100%;
  max-width: 300px;
  font-weight: bolder;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #333;
} 

input[type="password"] {
  color: red;
}

button[type="button"] {
  cursor: pointer;
  color: #eee;
  background: #2ECC40;
  transition: background 120ms ease-out;
}

input[type="submit"]:hover {
  background: rgb(33, 170, 49);;
}

.profile {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: auto 300px auto;
  width: 100%;
}

.pro-pic {
  grid-column-start: 2;
  margin: 0 auto;
}

.profile p:nth-child(2){
  grid-column-start: 2;
}

.profile p:nth-child(3){
  grid-column-start: 2;
}

.profile button {
  grid-column-start: 2;
}

.profile button, .post-form button {
  border-radius: 3px;
  margin: 0 auto 1rem;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  border: none;
  font-weight: bolder;
}

.post-form {
  width: 100%;
  background: rgba(255, 69, 0, 0.25);
}

.post {
  padding: 2rem 0;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 2rem;
}

svg {
  width: 20px;
}

footer {
  background: rgba(0, 139, 139, 1);
  padding: 0.45rem 0;
}

footer p {
  font-weight: 400;
}